.ares-select{
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    height: 31px;
    margin-bottom: 17px;
    border: 1px solid #bebebe;
    border-radius: 5px;
    display: inline-block;
    background-color: #fff;
    vertical-align: top;
    overflow: hidden;
    cursor: pointer;
}
.ares-select:after{
    content: '';
    position: absolute;
    right: 0;
    width: 30px;
    top: 0;
    bottom: 0;
    background: url("../img/icons-arrows.jpg") no-repeat center;
}
.ares-select__item {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 30px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    padding: 6px 10px 0;
    font: 14px 'Ubuntu', sans-serif;
}
.ares-select_mobile select {
    position: absolute;
    top: 0;
    left: 1px;
    width: 100%;
    bottom: -1px;
}
.ares-select_custom select{
    position: absolute;
    left: -100000px;
}
.ares-select__popup {
    position: absolute;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #bebebe;
    background-color: #fff;
    overflow: hidden;
    z-index: 10;
}
.ares-select__popup ul {
    z-index: 1;
}
.ares-select__popup li{
    height: 31px;
    padding: 7px 10px 0;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    transition: background-color .3s ease, color .3s ease;
    -webkit-transition: background-color .3s ease, color .3s ease;
}
.ares-select__popup li:hover,
.ares-select__popup li.active {
    color: #fff;
    background-color: #cb0101;
}
.ares-select__popup .iScrollVerticalScrollbar {
    position: absolute;
    width: 15px;
    top: 0;
    bottom: 0;
    background: #ccc;
    right: 0;
    z-index: 3;
    -webkit-transform: translateZ(0);
}
.ares-select__popup .iScrollIndicator {
    background: #aaa;
}